html,
body {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

body {
	background-image: url("stars.jpg");
	background-size: cover;
	background-position: 50%;
}

#topbar {
	position: relative;
	width: 100%;
	height: 85px;
	background: rgba(21, 22, 21, 0.8);
	backdrop-filter: blur(10px);
	padding: 0.5em;
	box-sizing: border-box;
}

#tabsandmore {
	position: relative;
	height: 52.5%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#tabs {
	width: 100%;
	height: 100%;
	max-width: calc(100% - 70px);
	display: flex;
	align-items: center;
}

.tab {
	position: relative;
	background: none;
	border: 2px solid rgba(0, 0, 0, 0);
	height: 100%;
	max-width: 175px;
	overflow: hidden;
	width: 100%;
	border-radius: 0.35rem;
	display: flex;
	align-items: center;
	padding: 0.5em;
	box-sizing: border-box;
	animation: tab-creation-animation 75ms;
	transition: width 75ms;
}

@keyframes tab-creation-animation {
	0% {
		max-width: 0;
		padding: 0;
	}

	1% {
		padding: 0.5em;
	}

	100% {
		max-width: 175px;
	}
}

.tab:hover {
	background: rgba(45, 45, 45, 0.5);
	backdrop-filter: blur(10px);
}

.tab.active {
	background: rgba(63, 63, 63, 0.85);
	backdrop-filter: blur(10px);
	border: solid rgba(73, 73, 73, 0.8) 2px;
	box-shadow: 5px 5px 15px -9px #000000;
}

.tab>.favicon {
	width: 16px;
	height: 16px;
	height: 1.5rem;
	width: 1.5rem;
	filter: invert(1);
}

.tab>p {
	margin: 0 0.5rem;
	color: lightgray;
	display: inline;
	overflow: hidden;
	white-space: nowrap;
}

.tabclose {
	background: none;
	border: none;
	position: absolute;
	right: 0.5em;
	padding: 0.1rem;
	color: white;
}

#settingsandnewtab {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.25rem;
	height: 100%;
	width: 120px;
}

#settingsandnewtab>button {
	background: none;
	outline: none;
	border: none;
	border-radius: 0.35rem;
	padding: 0.5em 0.75em;
}

#settingsandnewtab>button:hover {
	background: rgba(45, 45, 45, 0.5);
	backdrop-filter: blur(10px);
}

#settingsandnewtab>button>i {
	color: lightgray;
}

#urlbar {
	position: relative;
	margin-top: 0.4rem;
	height: calc(47.2% - 0.4rem);
	width: 100%;
}

#urlbar input {
	padding: 0;
	width: 100%;
	height: 100%;
	border: none;
	border-radius: 5rem;
	background: rgba(55, 55, 55, 0.85);
	backdrop-filter: blur(10px);
	color: white;
	text-align: center;
	outline: none;
}

#urlbar input:hover {
	outline: 0.075rem solid #656565;
}

#urlbar input:focus {
	outline: 0.15rem solid #64ade5;
}

iframe,
#homepage {
	position: absolute;
	top: 85px;
	left: 0px;
	height: calc(100% - 85px);
	width: 100%;
}

iframe {
	display: none;
	outline: none;
	border: none;
}
@media screen and (max-width: 480px) {
  #p_5821135 {
    display: none;
  }
}
